<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>test-group</td><td>SampleTest.testMethodOne()[pri:0, instance:com.testNg_sample.SampleTest@735b478]<br/>SampleTest.testMethodThree()[pri:0, instance:com.testNg_sample.SampleTest@735b478]<br/></td></tr>
</table>
