<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Time test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9498ed">  <td>17/09/29 14:24:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testMethodOne()[pri:0, instance:com.testNg_sample.SampleTest@735b478]">testMethodOne</td> 
  <td>main@13326370</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/09/29 14:24:43</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testMethodThree()[pri:0, instance:com.testNg_sample.SampleTest@735b478]">testMethodThree</td> 
  <td>main@13326370</td>   <td></td> </tr>
</table>
