<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>group-one</td><td>Sample2Test.testMethodTwo()[pri:0, instance:com.testNg_sample.Sample2Test@735b478]<br/>Sample2Test.testMethodTwo()[pri:0, instance:com.testNg_sample.Sample2Test@6d78f375]<br/>Sample2Test.testMethodOne()[pri:0, instance:com.testNg_sample.Sample2Test@735b478]<br/></td></tr>
<tr><td>group-two</td><td>Sample2Test.testMethodTwo()[pri:0, instance:com.testNg_sample.Sample2Test@735b478]<br/>Sample2Test.testMethodTwo()[pri:0, instance:com.testNg_sample.Sample2Test@6d78f375]<br/>Sample2Test.testMethodThree()[pri:0, instance:com.testNg_sample.Sample2Test@6d78f375]<br/></td></tr>
</table>
