<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Multi Group Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9498ed">  <td>17/09/29 14:30:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample2Test.testMethodOne()[pri:0, instance:com.testNg_sample.Sample2Test@735b478]">testMethodOne</td> 
  <td>main@575593575</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/09/29 14:30:37</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample2Test.testMethodTwo()[pri:0, instance:com.testNg_sample.Sample2Test@735b478]">testMethodTwo</td> 
  <td>main@575593575</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/09/29 14:30:37</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample2Test.testMethodThree()[pri:0, instance:com.testNg_sample.Sample2Test@6d78f375]">testMethodThree</td> 
  <td>main@575593575</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/09/29 14:30:37</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample2Test.testMethodTwo()[pri:0, instance:com.testNg_sample.Sample2Test@6d78f375]">testMethodTwo</td> 
  <td>main@575593575</td>   <td></td> </tr>
</table>
